#hero-banner
  #top
    = render 'nav'
    %ul
    #content
    %table#banner-text-box
      %td.text-box-left
        %h1.header
          August 20, 2022
          %br/
          Maggie & Sam
      %td.text-box-right
        %h1.header
          Gallaher Mansion
          %br/
          Norwalk, Connecticut
