#hero-banner
  #top
    = render 'nav'
    %ul
    #content
    %h1.hero.center Maggie & Sam
    %table#banner-text-box
      %td.text-box-left
        %h1.header.sub
          August 20, 2022
      %td.text-box-right
        %h1.header.sub
          Norwalk, Connecticut
