#intro
  %h2 Welcome to our wedding website!
  %p.welcome
    We hope you will join us in celebrating our wedding day.
  %p.welcome
    We've got some really great things planned for everyone.
  %br/
  %hr.ms/
