%nav.menu-container
  / burger menu
  %input{'aria-label': 'Toggle menu', type: 'checkbox'}/
  %span
  %span
  %span
  / menu items
  .menu
    %ul
      %li
        %a{href: '#intro'}
          Welcome
      %li
        %a{href: '#travel'}
          Travel
      %li
        %a{href: '#wedding'}
          The Wedding
      %li
        %a{href: '#registry'}
          Registry
      %li
        %a{href: '#rsvp'}
          RSVP
      %li
        %a{href: '#our_favorites'}
          Recommendations
