.things-to-do-header
  %h2 Things to Do, Places to See
#things-to-do
  #map
    %iframe{
      height: '500px',
      src: 'https://www.google.com/maps/d/embed?mid=12dTnX-Ua0dZewf8dWSpqvDgN9wkJPXA&ehbc=2E312F',
      width: '95%'
    }
%br/
%hr/
