#registry
  %h2 Registry & RSVP
  %br/
  %table.wedding
    %tr
      %th.registry
        %h3
          %a.registry{
            href: 'https://withjoy.com/depentumarshall/registry',
            target: '_blank'
          }
            Registry
      %th
        %h3
          %a.registry{
            href: 'https://withjoy.com/depentumarshall/rsvp',
            target: '_blank'
          }
            RSVP
    %tr
      %td
        %p.welcome
%hr/
