#travel
  %h2 Travel & Accomodations
  %h3.travel
    Getting In
  %p.travel
    The closest airports to Norwalk are Westchester (HPN), JFK, and LGA. HPN is small and doesn't have as many options, but is a 20 minute drive. JFK and LGA are both about 60-90 minutes away, depending on traffic.
  %p.travel
    Norwalk and its surrounding areas are easily accessible by both CT Route 15 and Interstate 95, as well as the MetroNorth train line (South Norwalk and Westport being the closest stops to the hotels and venue).
  %h3.travel
    Accomodations
  %h4.travel We have reserved room blocks at two hotels in Norwalk:
  %table.travel
    %tr
      %th.travel
        %a.travel{
          href: 'https://www.marriott.com/event-reservations/reservation-link.mi?id=1646836688787&key=GRP&app=resvlink',
          target: '_blank'
        }
          %h3.hotel Residence Inn Norwalk
      %th.travel
        %a.travel{
          href: 'https://www.ihg.com/evenhotels/hotels/us/en/find-hotels/hotel/rooms?qDest=426%20Main%20Avenue,%20Route%207,%20Norwalk,%20CT,%20US&qCiMy=72022&qCiD=19&qCoMy=72022&qCoD=21&qAdlt=1&qChld=0&qRms=1&qRtP=6CBARC&qIta=99801505&qGrpCd=DMW&qSlH=ORQEV&qAkamaiCC=US&qSrt=sBR&qBrs=re.ic.in.vn.cp.vx.hi.ex.rs.cv.sb.cw.ma.ul.ki.va.ii.sp.nd.ct.sx.we.lx&qAAR=6CBARC&qWch=0&qSmP=1&setPMCookies=true&qRad=30&qRdU=mi&srb_u=1&qSHBrC=VN&icdv=99801505',
          target: '_blank'
        }
          %h3.hotel Even Hotel Norwalk
    %tr
      %td.travel
        %p 45 S Main St
        %p Norwalk, CT 06854
      %td.travel
        %p 426 Main Ave Route 7
        %p Norwalk, CT 06851
    %tr
      %td.travel
        %p (203) 229-1234
      %td.travel
        %p (203) 846-9355
    %tr
      %td.travel
        %p.welcome.wedding
          This hotel is walking distance from the South Norwalk train station (on the MetroNorth line), and all of the rooms have kitchenettes.
        %p.welcome.wedding
          You can use the booking link above to reserve, or call and request a block for “DePentu Marshall Wedding.”
      %td.travel
        %p.welcome.wedding
          This hotel is closest to the venue, as well as nearby highways. 10 minutes driving from South Norwalk.
        %p.welcome.wedding
          Please use our booking link above, or use the code "DMW" or "DePentu Marshall Wedding."
  %br/
  %hr/
