#wedding
  %h2 Wedding Events
  %h3.wedding Friday, August 19th
  %h4.wedding Welcome Drinks
  %p.welcome
    %em
      Time & Location TBD
    %br/
    If you're in town, we'd love to catch up and grab some drinks to kick off the celebration!
  %br/
  %hr/
  %h3.wedding Saturday, August 20th
  %table.wedding
    %td.wedding-left
      %p.welcome.wedding
        We are going to be holding our wedding at the beautiful Gallaher Mansion, located on Cranbury Park in Norwalk, CT.
      %p.welcome.wedding
        This park is near and dear to our hearts, so we could not think of a better place to celebrate.
      %p.welcome.wedding
        Transportation will be provided to and from the venue from both hotels.
    %td.wedding
      = image_tag('miller_at_gallaher.jpg', :class => 'miller-gallaher', :alt => 'Miller @ Gallaher Mansion')
      %p.image-caption
        Also a great reason to show off this picture of Miller.
%hr/
