#wedding
  %h2 Wedding Events
  %h3.wedding Friday, August 19th – Welcome Drinks
  %p.welcome
    We will be hosting a welcome party for those in town on Friday.
    %br/
    Location TBD, but dress will be casual and comfortable.
  %br/
  %hr/
  %br/
  %h3.wedding Saturday, August 20th – Our Wedding
  %table.wedding
    %td.wedding-left
      %p.welcome.wedding
        We are going to be holding our wedding at the beautiful Gallaher Mansion, located on Cranbury Park in Norwalk, CT.
        %br/
        %br/
        We're thankful to the City of Norwalk for allowing us to have it at Gallaher Mansion.
      %p.welcome.wedding
        This park is near and dear to our hearts. We know many of you feel the same way, so we could not think of a better place to celebrate with you all.
      %p.welcome.wedding.ceremony_time
        = "The ceremony will be begin at "
        %span.time
        = "#{@ceremony_time}"
    %td.wedding
      = image_tag('miller_at_gallaher.jpg', :class => 'miller-gallaher', :alt => 'Miller @ Gallaher Mansion')
      %p.image-caption
        Also a great reason to show off this picture of Miller.
%hr/
