#wedding
  %h2 Wedding Events
  %h3.wedding Friday, August 19th
  %h4.wedding Welcome Hike
  %p.welcome.wedding
    Bring your hiking shoes and sunscreen! If you’re in town early, we’d love to see you for a hike at the Wilton Town Forest. Sam will guide everyone and is planning on leaving around 1pm from the trailhead. The hike will take around 90 minutes and has very little elevation.
  %p.welcome
    Parking is limited so plan on carpooling. Don't forget water!
  %h4.wedding Welcome Drinks
  %p.welcome
    We will be hosting a welcome party for those in town Friday evening.
    %br/
    We plan on gathering at Spacecat, our favorite local brewery. There will be a food truck, but we will be bringing food and other snacks to pick at as well. Dress will be casual and comfortable.
  %br/
  %hr/
  %h3.wedding Saturday, August 20th
  %table.wedding
    %td.wedding-left
      %p.welcome.wedding
        We are going to be holding our wedding at the beautiful Gallaher Mansion, located on Cranbury Park in Norwalk, CT.
      %p.welcome.wedding
        This park is near and dear to our hearts. We know many of you feel the same way, so we could not think of a better place to celebrate with you all.
      %p.welcome.wedding
        Transportation will be provided to and from the venue from both hotels.
      %p.welcome.wedding
        We're thankful to the City of Norwalk for allowing us to have it at Gallaher Mansion.
      %p.welcome.wedding.ceremony_time
        = "The ceremony will be begin at "
        %span.time
        = "#{@ceremony_time}"
    %td.wedding
      = image_tag('miller_at_gallaher.jpg', :class => 'miller-gallaher', :alt => 'Miller @ Gallaher Mansion')
      %p.image-caption
        Also a great reason to show off this picture of Miller.
%hr/
