#wedding
  %h2 Wedding Events
  %h3.wedding Friday, August 19th
  %h4.wedding Welcome Drinks ~ 7:30pm
  %p.location
    O'Neill's Pub & Restaurant
    %br/
    93 N. Main Street, Norwalk CT
  %p.welcome
    If you're in town, we'd love to catch up and grab a drink at our favorite local watering hole to kick off the celebration!
  %br/
  %hr/
  %h3.wedding Saturday, August 20th
  %table.wedding
    %td.wedding-left
      %p.welcome.wedding
        We are going to be holding our wedding at the beautiful <em>Gallaher Mansion</em>, located on <em>Cranbury Park</em> in Norwalk, CT. The ceremony will begin at <b>4:30pm</b>.
      %p.welcome.wedding
        This park is near and dear to our hearts, so we could not think of a better place to celebrate.
      %p.welcome.wedding
        Transportation will be provided to and from the venue from both hotels, starting around 3:15pm. There will be two shuttle trips per hotel.
      %p.welcome.wedding
        There is also limited parking on-site. All fees will be covered, no need to pay for parking.
    %td.wedding
      = image_tag('miller_at_gallaher.jpg', :class => 'miller-gallaher', :alt => 'Miller @ Gallaher Mansion')
      %p.image-caption
        Also a great reason to show off this picture of Miller.
%hr/
