div#hero-banner {
  background: url("hero.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  border-bottom: 5px solid #000;
}

div#banner-text-box {
  background-color: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.45);
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.45);
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-family: "EB Garamond", serif;
  color: black;
  font-size: 2.5em;
  text-align: left;
  padding-left: 2em;
  padding-top: 0.2em;
  text-shadow: 3px 3px 5px rgba(134, 134, 134, 0.45);
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-family: "EB Garamond", serif;
  color: black;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
}
