#wedding {
  padding: 1em;
}

h3.wedding {
  padding: 10px 0;
}

h4.wedding {
  font-weight: bolder;
}

table.wedding {
  width: 100%;
  padding: 0 2.5%;
}

td.wedding-left {
  width: 55%;
}

td.wedding-right {
  width: 45%;
}

p.wedding {
  margin-bottom: 0.5rem;
}

img.miller-gallaher {
  width: 75%;
  height: auto;
  margin: auto;
  display: flex;
}

p.image-caption {
  font-size: calc((50vw - 4.5rem) / 30);
  text-align: center;
}
